@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background: #F1F6F9;
    height: 100%;
    width: 100%;
}

.about img {
    height: 130px;
    width: 130px;
    border-radius: 130px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.about img:hover {
    
  border-color: black;
  border: #27374D 3px solid;
}

.socials img {
    height: 35px;
    width: 35x;
}

.main {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials {
    margin-top: 10px;
    height: auto;
    width: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    #border: 5px cyan solid;
    
}

h1{
    color: #212A3E;
    font-size: 40px;
}

.about p{
    color : #394867;
    font-size: 32px;
}

.button-container img{
    height: 35px;
    width: 35px;
}

.button-rectangle img{
    margin-right: 0px;
}

.button-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    #border: 10px blue solid;
    height: 400px;
    width: 720px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2{
    text-align: center;
}


.button {
    position: relative;
    background-color: transparent;
    color: #F1F6F9;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    width: 830px;
    height: 60px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }

.btn {
    #border: 10px red solid;
    display: flex;
    justify-content: center;
    text-decoration: none;

}

.links button{
    font-size: 20px;
    font-weight: 500;
    height: 50px;
    max-height: 50px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    border-radius: 50px;
    border: 2px #212A3E solid;
    background-image: linear-gradient(to right, #6a5ef0 0%,  #35d1fc 0%);
  background-size: 0% 100%;
}
.links button:hover{
    animation: fillBackground 0s forwards;

}
@keyframes fillBackground {
    from {
      background-size: 0% 100%;
    }
    to {
      background-size: 100% 100%;
    }
  }

box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
 transition: 12s ease-in;

